.public-layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background: var(--caf-white);
}

.public-layout__content {
  flex: 1;

  display: flex;
  flex-direction: column;
}
